.container {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    flex: 1;
}

.label {
    font-weight: 500;
}

.textarea {
    height: 75px;
    border: none;
    border-bottom: 2px solid var(--bgBright);
    padding: 0 10px;
    background-color: var(--bg);
    resize: none;
    overflow: visible;
    font-family: inherit;
    outline: none !important;
}

/* Apply shimmer animation to focused border-bottom */
.textarea:focus {
    border-bottom: 2px solid var(--bgBrand);
}