.search {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    border-radius: 50px;
    width: 350px;
    background-color: var(--bg);
    box-shadow: var(--shadow);
}

.input {
    background-color: transparent;
    border: none;
    color: var(--text);
    outline: none !important;
    width: 100%;
}
